.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state='open'] {
  animation: accordionSlideDown 200ms ease-out;
}
.AccordionContent[data-state='closed'] {
  animation: accordionSlideUp 200ms ease-out;
}

@keyframes accordionSlideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordionSlideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
